<%= if @changeset.action do %>
  <p class="cf-error"><%= gettext("Oops, something went wrong! Please check the errors below.") %></p>
<% end %>

<%= inputs_for @f, :settings, fn fs -> %>
  <%= VHelpers.sub_inputs fs, :options, [merge_callback: fn opts -> merge_default_config(@user.settings, opts) end], fn(fo) -> %>
    <%= render "settings.html", Map.merge(assigns, %{f: fo, original_f: @f, user: @user}) %>
  <% end %>
<% end %>
