<%= render "personal_information.html", f: @f, user: @user %>
<%= render "comfort.html", f: @f, user: @user %>
<%= render "notifications.html", f: @f, user: @user %>
<%= render "personalization.html", f: @f, user: @user %>
<%= render "readability_overview.html", f: @f, user: @user %>
