<%= pagination @conn, @paging, &user_path/4, path_args: [@conn, :show_messages, @user] %>

<div class="cf-thread-list">
  <%= for m <- @messages do %>
    <article class="threadlist cf-thread">
      <%= CforumWeb.MessageView.header(@conn, m.thread, m, show_votes: true, id: false) %>
    </article>
  <% end %>
</div>

<%= pagination @conn, @paging, &user_path/4, path_args: [@conn, :show_messages, @user] %>
