<%= form_for @changeset, admin_forum_path(@conn, :update, @forum), [class: "cf-form"], fn f -> %>
  <%= render "form.html", Map.put(assigns, :f, f) %>

  <p class="form-actions">
    <%= primary_submit gettext("save changes") %>
    <%= default_button_link gettext("cancel"), to: admin_forum_path(@conn, :index) %>
  </p>
<% end %>
