<h2 class="cf-heading"><%= gettext("New Forum") %></h2>

<%= form_for @changeset, admin_forum_path(@conn, :create), [class: "cf-form"], fn f -> %>
  <%= render "form.html", changeset: @changeset, f: f %>

  <p class="form-actions">
    <%= submit gettext("Save changes"), class: "cf-primary-btn" %>
    <%= link gettext("cancel"), to: admin_forum_path(@conn, :index), class: "cf-btn" %>
  </p>
<% end %>
