<%= form_for @changeset, Path.admin_forum_path(@conn, :create), [class: "cf-form"], fn f -> %>
  <%= render "form.html", Map.put(assigns, :f, f) %>

  <p class="form-actions">
    <%= VHelpers.Button.primary_submit gettext("save changes") %>
    <%= VHelpers.Button.default_button_link gettext("cancel"), to: Path.admin_forum_path(@conn, :index) %>
  </p>
<% end %>
