<%= if Helpers.blank?(@message.versions) do %>
  <p><%= gettext("no message version found.") %></p>
<% else %>
  <%= for version <- version_list(@message) do %>
    <%= render "version.html", Map.put(assigns, :version, version) %>
  <% end %>
<% end %>
