<%= for {tag, i} <- tags_and_index_from_changeset(@changeset) do %>
  <label for="tags-<%= i%>"><%= gettext("Tag %{no}", no: i + 1) %> <%= error_tag @f, :tags %></label>
  <input name="message[tags][]" value="<%= tag.tag_name %>" id="tags-<%= i%>">
<% end %>
<%= for i <- no_tag_inputs_left(@conn, @changeset) do %>
  <label for="tags-<%= i%>"><%= gettext("Tag %{no}", no: i) %> <%= error_tag @f, :tags %></label>
  <input name="message[tags][]" value="" id="tags-<%= i %>">
<% end %>