    <%= if @opts[:show_votes] do %>
      <span class="votes" title="<%= ngettext("Score: no score", "Score: %{score}", Messages.no_votes(@message), score: Messages.score_str(@message)) %>">
        <%= ngettext("Score: no score", "Score: %{score}", Messages.no_votes(@message), score: Messages.score_str(@message)) %>
      </span>
    <% end %>