    <%= if show_tags?(@opts[:parent], @message, @opts) do %>
      <ul class="cf-tags-list-thread">
        <%= for t <- @message.tags do %>
          <li class="cf-tag"><%= link(t.tag_name, to: Path.tag_path(@conn, :show, t)) %></li>
        <% end %>
      </ul>
    <% end %>