    <%= if Abilities.access_forum?(@conn, @thread.forum, :moderate) && @conn.assigns[:view_all] do %>
      <%= if Helpers.present?(@message.ip) do %>
        <span class="admin-infos ip"><%= @message.ip %></span>
      <% end %>
      <%= if Helpers.present?(@message.uuid) do %>
        <span class="admin-infos uuid"><%= @message.uuid %></span>
      <% end %>
    <% end %>
