    <time datetime="<%= NaiveDateTime.to_iso8601(@message.created_at) %>">
      <%= if !blank?(@thread.thread_id) && !blank?(@message.message_id) do %>
        <%= link format_date(@conn, @message.created_at, message_date_format(@opts[:tree])), to: message_path(@conn, :show, @thread, @message) %>
      <% else %>
        <%= format_date(@conn, @message.created_at, message_date_format(@opts[:tree])) %>
      <% end %>
    </time>
