  <%= if @opts[:first] do %>
    <h2><%= link(@message.subject, to: message_path(@conn, :show, @thread, @message)) %></h2>
  <% else %>
    <%= if @thread.thread_id != 0 && @message.message_id != 0 do %>
      <%= if show_subject?(@opts[:parent], @message, @opts) do %>
        <h3><%= link(@message.subject, to: message_path(@conn, :show, @thread, @message)) %></h3>
      <% end %>
    <% else %>
      <h3><%= @message.subject %></h3>
    <% end %>
  <% end %>
