<p class="help-text">Ihre Identität in einem Cookie zu speichern erlaubt es Ihnen, Ihre Beiträge zu editieren. Außerdem
  müssen Sie dann bei neuen Beiträgen nicht mehr die Felder Name, Email und Homepage ausfüllen.</p>