<h2>New notification</h2>

<%= render "form.html", changeset: @changeset,
                        action: notification_path(@conn, :create) %>

<%= link "Back", to: notification_path(@conn, :index) %>
