<p><%= gettext("Hi there") %>,</p>

<p>
  <%= gettext("There was an error sending an inactivity notification mail to %{user} (%{email}):", user: @user.username, email: @user.email) %>
</p>

<p><%= @error %></p>

<p><%=  gettext("Best regards") %></p>
