<p><%= gettext("Hi there") %>,</p>

<p>
  <%= if @vote.vote_type do %>
    <%= gettext("There has been created a new reopen vote for message") %>
  <% else %>
    <%= gettext("There has been created a new close vote for message") %>
  <% end  %>

  „<%= link @message.subject, to: Path.message_url(CforumWeb.Endpoint, :show, @thread, @message) %>“
</p>

<p><%=  gettext("Best regards") %></p>
