<p><%= gettext("Hi there") %>,</p>

<p>
  <%= if @vote.vote_type do %>
    <%= gettext("A reopen vote has been finished for message") %>
  <% else %>
    <%= gettext("A close vote has been finished for message") %>
  <% end  %>

  „<%= link @message.subject, to: Path.message_url(CforumWeb.Endpoint, :show, @thread, @message) %>“
</p>

<p><%=  gettext("Best regards") %></p>
