.cf-motd {
  @include grey-box();
  display: inline-block;
  padding: 0.6em 0.5em 0.6em 0.7em;
  line-height: 1.2;
  margin-bottom: 0;

  img {
    float: left;
    margin: 0.3em 0.5em 0px 0px;
  }

  & > p {
    margin-top: 0;
    margin-bottom: 0;
  }

  h3,
  h4,
  h5,
  h6 {
    margin-top: 0;
    font-weight: bold;
  }

  h3 {
    font-size: 1.3em;
    color: $header-bar-color;
  }
}

.cf-motd-list {
  border-top: 2px solid $standard-hr-color;
  margin: 1em 0em;
  padding: 0.7em 0 0;
  text-align: center;

  .cf-motd {
    text-align: left;
  }
}

@include default-breakpoint() {
  .cf-motd-list {
    margin: 0.5em 2em;
  }
}
