@charset "utf-8";

.cf-page-header {
  margin: 0.5em;

  .logo {
    margin: 0 0 1em 0;

    h1 {
      position: relative;
      margin: 0;
      background: url(/images/selfhtml-forum-small.svg) no-repeat center center;
      background-size: contain;
      width: 100%;
      height: 96px;
      margin-bottom: 0.3em;

      /* hide the page header text */
      span {
        display: none;
      }
    }

    a.home {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      display: block;
    }

    .rss,
    .atom,
    .donate {
      display: none;
    }
  }

  .quicklinks {
    @include grey-box();

    display: block;

    ul {
      margin-left: 0;
      padding: 0;
      list-style-type: none;
    }

    li {
      display: block;
      border: none;
      padding: 0.3em 0;
      margin-top: 0.3em;
      font-size: 1em;

      a {
        display: block;
      }
      .stats {
        display: none;
      }
    }

    li.moderation-queue a,
    li.cites a {
      display: inline;
    }

    .search {
      ::placeholder {
        color: $placeholder-color;
      }

      input[type="search"] {
        border-radius: $bar-border-radius;
        border: 1px solid $grey-border;
        padding: 0.2em 0.5em;
        width: 100%;
      }
    }
  }
}

.js .cf-page-header .quicklinks ul,
.js .cf-page-header .subnav ul,
.js.anonymous .cf-personallinks {
  display: none;
}

.js .cf-page-header .quicklinks {
  .quicklinks-expand {
    background: transparent;
    border: 0;
    display: block;
    font-size: 1em;
    color: $link-color;
    cursor: pointer;
  }

  .quicklinks-expand:hover,
  .quicklinks-expand:focus,
  .quicklinks-expand:active {
    color: $active-link-color;
  }
}

.js .cf-page-header .quicklinks.expanded ul,
.js .cf-page-header .subnav.expanded ul,
.js.js.anonymous .cf-personallinks.expanded {
  display: block;
}

@include default-breakpoint() {
  .js .cf-page-header .quicklinks ul {
    display: flex;
  }
  .js .cf-page-header .subnav ul,
  .js.anonymous .cf-personallinks {
    display: block;
  }

  .cf-page-header {
    margin: 0.5em 2em;

    display: grid;
    grid-template-areas: "logo nav" "logo subnav";

    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    grid-column-gap: 1em;

    .logo {
      grid-column: 1;
      grid-area: logo;

      h1 {
        background: url(/images/selfhtml-forum.svg) no-repeat center center;
        background-size: contain;
        width: 160px;
        height: 178px;
        margin-bottom: 0.3em;
      }

      .rss,
      .atom,
      .donate {
        display: inline;
      }

      .rss,
      .atom {
        margin-right: 0.2em;
      }
    }

    .quicklinks {
      grid-area: nav;

      ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin-top: 0;
        margin-bottom: 0;
      }

      li {
        display: inline-block;
        margin-right: 1em;
        margin-top: 0.15em;
        flex: 0 0 auto;

        a,
        a:link,
        a:visited {
          display: inline;
        }
      }

      .search {
        flex: 1 1 auto;
        text-align: right;

        input {
          max-width: 20em;
        }
      }
    }

    .subnav {
      grid-area: subnav;
    }
  }
}
