@charset "utf-8";

.cf-personallinks {
  list-style-type: none;
  padding: 0;
  margin: 0.5em;

  li {
    margin: 0 0 1em 0;
    line-height: 1em;
    white-space: nowrap;
  }

  a:visited {
    color: $link-color;
  }

  a:hover,
  a:focus,
  a:active {
    color: $active-link-color;
  }

  img {
    margin-right: 0.2em;
  }
  #user-not-signed-in {
    color: $visited-link-color;
  }

  .btn-link {
    border: 0;
    padding: 0;
    font-size: 1em;
    cursor: pointer;
    background-color: transparent;
    color: $link-color;
  }

  .btn-link:hover,
  .btn-link:focus,
  .btn-link:active {
    color: $active-link-color;
  }

  .connected a {
    color: $connected-color;
  }
}

@include default-breakpoint() {
  .cf-personallinks {
    text-align: right;
    margin: 0.1em 2em;

    li {
      display: inline;
      margin-right: 1em;
      line-height: 1.5;
    }

    li:last-of-type {
      margin-right: 0;
    }

    a {
      display: inline;
    }
  }
}
