<!DOCTYPE html>
<html lang="<%= Gettext.get_locale(CforumWeb.Gettext) %>">
  <head>
    <%= render "meta.html", assigns %>
    <%= render "link.html", assigns %>

    <%= css_ressource(@conn) %>

    <title><%= page_title(@conn, assigns) %></title>
  </head>

  <body data-moderator="<%= Abilities.access_forum?(@conn, :moderate) %>" data-current-forum="<%= Path.forum_slug(@current_forum) %>" data-controller="<%= current_controller(@conn) %>" data-action="<%= action_name(@conn) %>" <%= body_classes(@conn, assigns, true) %><%= body_id(@conn, assigns) %><%= user_id(@conn) %>>
    <script nonce="<%= @conn.assigns[:nonce_for_js] %>">document.body.classList.add("js");</script>

    <%= render "top_bar.html", assigns %>
    <%= render "personal_links.html", assigns %>
    <%= render "page_header_blog.html", assigns %>

    <nav class="cf-weblog-nav">
      <ul>
        <li><%= link gettext("older articles"), to: Path.blog_archive_path(@conn, :years) %></li>
        <%= if Abilities.may?(@conn, "thread", :create) do %><li><%= link gettext("create new article"), to: Path.blog_thread_path(@conn, :new) %></li><% end %>
      </ul>

      <%= if assigns[:prev_article] || assigns[:next_article] do %>
        <ul class="cf-weblog-prev-next">
          <%= if assigns[:prev_article] do %>
            <li><%= link gettext("previous article"), to: Path.blog_thread_path(@conn, :show, @prev_article) %></li>
          <% end %>
          <%= if assigns[:next_article] do %>
            <li><%= link gettext("next article"), to: Path.blog_thread_path(@conn, :show, @next_article) %></li>
          <% end %>
        </ul>
      <% end %>
    </nav>

    <main>
      <%= render "alerts.html", assigns %>

      <div id="content">
        <%= @inner_content %>
      </div>
    </main>

    <%= render "footer.html", assigns %>

    <%= mathjax(@conn) %>

    <script nonce="<%= @conn.assigns[:nonce_for_js] %>">window.userToken = "<%= assigns[:user_token] %>";</script>
    <script src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
