<header class="cf-top-bar">
  <ul class="selflinks">
    <li><%= link "SELFHTML", to: "//selfhtml.org/" %></li>
    <li><%= link "Wiki", to: "//wiki.selfhtml.org/" %></li>
    <li><%= link "Forum", to: root_path(@conn, :index) %></li>
    <li><%= link "Blog", to: "//blog.selfhtml.org/" %></li>
  </ul>
</header>
