<header class="cf-top-bar">
  <ul class="selflinks">
    <li><%= link "SELFHTML", to: "//selfhtml.org/" %></li>
    <li><%= link "Wiki", to: "//wiki.selfhtml.org/" %></li>
    <li><%= link "Forum", to: Path.root_url(@conn, :index) %></li>
    <li><%= link "Blog", to: Path.blog_url(@conn) %></li>
  </ul>
</header>
