<%= link gettext("event %{no}", no: @entry.contents["event_id"]), to: Routes.root_path(@conn, :index) <> "admin/events/" <> to_string(@entry.contents["event_id"]) %>,
<%= gettext("attendee %{name}", name: @entry.contents["name"]) %>