<%=
link(
  @entry.contents["message"]["subject"],
  to: root_path(@conn, :index) <>
        @entry.contents["message"]["thread"]["forum"]["slug"] <>
        @entry.contents["message"]["thread"]["slug"] <> "/" <>
        to_string(@entry.contents["message"]["message_id"]) <>
        "?view_all=true#m" <>
        to_string(@entry.contents["message"]["message_id"])
)
%>
