<%=
link(
  @entry.contents["subject"], to: Path.root_path(@conn, :index) <>
    @entry.contents["thread"]["forum"]["slug"] <>
    @entry.contents["thread"]["slug"] <> "/" <>
    to_string(@entry.contents["message_id"]) <>
    "?view_all=true#m" <> to_string(@entry.contents["message_id"])
)
%>
