<%=
link(
  @message["subject"],
  to: Path.root_path(CforumWeb.Endpoint, :index) <>
    @entry.contents["forum"]["slug"] <>
    @entry.contents["slug"] <> "/" <>
    to_string(@message["message_id"]) <>
    "?view_all=yes#m" <>
    to_string(@message["message_id"])
)
%> <%= gettext("by") %> <%= @message["author"] %>
