.cf-admin-group-permission {
  border-bottom: 2px solid $standard-hr-color;
  padding-bottom: 1em;
  margin-bottom: 1em;
}

.cf-admin-group-permission:last-of-type {
  border-bottom: none;
}
