$advent-base-color: #942911;
$advent-item-border: 1px solid $advent-base-color;
$day-size: 2.2rem;

.cf-advent-form .cf-preview {
  .cf-posting-content {
    font-family: $default-font-family;
    background-color: transparent;
    border: $advent-item-border;
    height: 100vw;
    max-width: 20rem;
    max-height: 20rem;
  }
}

.cf-advent-calendar-list {
  list-style-type: none;
  padding-left: 0;

  & > li {
    min-height: 10rem;
    width: 100%;
    border: $advent-item-border;
    border-radius: $default-border-radius;
    padding: 0.5em;
    position: relative;

    display: flex;
    flex-direction: column;

    margin-bottom: 0.5em;
    
    ul {
      padding-left: 1.5em;
      list-style-type: disc;
    }
 
    .content {
      p {
        margin-bottom: 0.5em;
        margin-top: 0.5em;
      }
    }

    & > .content {
      flex: 1 1 auto;
    }

    h2 {
      margin: 0 2rem 0 0;
      flex: 0 1 auto;
    }

    .meta {
      margin: 0;
      font-size: 0.9em;

      p {
        margin: 0;
      }
    }

    .day {
      position: absolute;
      top: $day-size * 0.25;
      right: $day-size * 0.25;
      font-size: $day-size * 0.75;
      font-weight: bold;
      transform: rotate(10deg);
      color: #fff;
      background-color: $advent-base-color;
      border-radius: 50%;
      text-align: center;

      width: $day-size;
      height: $day-size;
      line-height: $day-size;
      padding: $day-size * 0.02;
    }
  }

  li.closed {
    h2,
    .meta,
    .content {
      visibility: hidden;
    }
  }

  li.closed:hover,
  li.closed:focus-within {
    h2,
    .meta,
    .content {
      visibility: visible;
    }
  }
}

@include default-breakpoint() {
  .cf-advent-calendar-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(12, auto);
    gap: 0.3em;

    & > li {
      margin-bottom: 0;
    }
  }
}

@media only screen and (min-width: 52em) {
  .cf-advent-calendar-list {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(8, auto);
  }
}

@media only screen and (min-width: 70em) {
  .cf-advent-calendar-list {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, auto);
  }
}

@media only screen and (min-width: 100em) {
  .cf-advent-calendar-list {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, auto);
  }
}
