@charset "utf-8";

#alerts-container {
  position: fixed;
  left: 0;
  right: 0;
  top: 2em;
  z-index: 9999;
  width: auto;
}

.cf-alert {
  padding: 1em;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: 0px 0px 6px #666;
}

.cf-success {
  @extend .cf-alert;

  color: $green-fg-color;
  background-color: $green-bg-color;
  border-color: $green-border-color;
}

.cf-info {
  @extend .cf-alert;
  color: $blue-fg-color;
  background-color: $blue-bg-color;
  border-color: $blue-border-color;
}

.cf-warning {
  @extend .cf-alert;
  color: $yellow-fg-color;
  background-color: $yellow-bg-color;
  border-color: $yellow-border-color;
}

.cf-error {
  @extend .cf-alert;
  color: $red-fg-color;
  background-color: $red-bg-color;
  border-color: $red-border-color;
}

.cf-alert .close {
  float: right;
  padding: 0px;
  cursor: pointer;
  background: none repeat scroll 0px 0px transparent;
  border: 0px none;
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
  text-shadow: 0px 1px 0px #fff;
  opacity: 0.2;
}

.cf-js-alert {
  cursor: pointer;
}

@include default-breakpoint() {
  #alerts-container {
    padding-left: 2em;
    padding-right: 2em;
  }
}
