@charset "utf-8";

@import "variables";

/*
 * basic declarations
 */

*,
::after,
::before {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  background: white;
  font-size: 1em;
}

body {
  margin: 0;
  padding: 0;
  font-family: $default_font_family;
  font-size: 1em;
  color: $default_foreground_color;
  background: $default_background_color;
  tab-size: 2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

h2.cf-heading {
  font-size: 1.25em;
  border-top: 2px solid $standard_hr_color;
  padding: 0.7em 0 0;
  margin: 1em 0em;
}

h3.cf-heading {
  font-size: 1em;
}

a,
a:hover,
a:focus,
a:active {
  font-weight: normal;
  text-decoration: none;
  border: 0 none;

  img {
    border: 0 none;
  }
}

a:link,
a:visited {
  color: $link_color;
}

a:hover,
a:focus,
a:active,
button:hover,
button:focus,
button:active {
  color: $active_link_color;
}

a,
a:hover,
a:focus,
a:active,
button,
button:hover,
button:focus,
button:active {
  transition: all 0.2s ease-in-out 0s;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

@import "header";
@import "main";
@import "footer";
@import "portal";
@import "form";
@import "buttons";
@import "default-table";
@import "sortable";
@import "paging";
@import "admin";
@import "thread";
@import "message-header";
@import "thread-message";
@import "nested-message";
@import "posting-content";
@import "mail";
@import "tags";
@import "tabs";
@import "alerts";
@import "user";
@import "cites";
@import "icons";
@import "button-nav-list";
@import "show-password";
@import "modals";
@import "users-selector";
