@charset "utf-8";

@import "variables";

/*
 * basic declarations
 */

*,
::after,
::before {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  background: white;
  font-size: 1em;
}

body {
  margin: 0;
  padding: 0;
  font-family: $default-font-family;
  font-size: 1.1em;
  color: $default-foreground-color;
  background: $default-background-color;
  tab-size: 2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

h2.cf-heading {
  font-size: 1.25em;
  border-top: 2px solid $standard-hr-color;
  padding: 0.7em 0 0;
  margin: 1em 0em;
}

h3.cf-heading {
  font-size: 1em;
}

button {
  font-size: inherit;
}

a,
a:hover,
a:focus,
a:active {
  font-weight: normal;
  text-decoration: none;
  border: 0 none;

  img {
    border: 0 none;
  }
}

a:link,
a:visited {
  color: $link-color;
  fill: $link-color;
}

a:hover,
a:focus,
a:active,
button:hover,
button:focus,
button:active {
  color: $active-link-color;
  fill: $active-link-color;
}

.visually-hidden {
  @include visually-hidden();
}

@include default-breakpoint() {
  a,
  a:hover,
  a:focus,
  a:active,
  button,
  button:hover,
  button:focus,
  button:active {
    transition: all 0.2s ease-in-out 0s;
  }
}

@import "fonts";
@import "header";
@import "main";
@import "code";
@import "footer";
@import "forums";
@import "form";
@import "buttons";
@import "default-table";
@import "sortable";
@import "paging";
@import "admin";
@import "thread";
@import "message-header";
@import "thread-message";
@import "nested-message";
@import "posting-content";
@import "posting-content-diff";
@import "voting-area";
@import "mail";
@import "tags";
@import "events";
@import "tabs";
@import "alerts";
@import "user";
@import "cites";
@import "moderation";
@import "search";
@import "icons";
@import "badges";
@import "button-nav-list";
@import "show-password";
@import "modals";
@import "users-selector";
@import "dropdown";
@import "autosuggest";
@import "autocomplete";
@import "postingform";
@import "transitions";
@import "loading";
@import "help";
@import "archive";
@import "registration";
@import "old-browser";
@import "advent-calendar";
@import "blog-fonts.scss";
@import "blog";

@import "leaflet/dist/leaflet.css";

*,
*:after,
*:before {
  filter: grayscale(1);
}
