.cf-archive-year-month-list {
  &,
  & * {
    margin: 0;
    padding: 0;
  }

  li {
    list-style-type: none;
  }

  & > li {
    padding: 0 0 1em 0;
    margin: 0 0 1em 0;
    border-bottom: $dividing-border;
  }

  & > li:last-of-type {
    border-bottom: 0;
  }

  ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  ul li {
    padding: 0 0.25em;
  }

  span.full-month {
    display: none;
  }

  s {
    text-decoration: none;
    color: $visited-link-color;
  }
}

@include default-breakpoint() {
  .cf-archive-year-month-list {
    & > li {
      display: flex;
      justify-items: flex-start;
      border-bottom: 0;
      padding: 0;
      margin: 0;
    }

    h2 {
      flex: 0 0 3rem;
      font: inherit;
      font-weight: bold;
    }

    ul {
      grid-template-columns: repeat(6, auto);
    }

    span.full-month {
      display: inline;
    }

    & > li ul {
      border-bottom: $dividing-border;
      padding: 0 0 0.25em 0;
      margin: 0 0 0.25em 0;
    }

    & > li:last-of-type ul {
      margin-bottom: 0;
      padding-bottom: 0;
      border-bottom: 0;
    }
  }
}

@media only screen and (min-width: 52em) {
  .cf-archive-year-month-list ul {
    grid-template-columns: repeat(12, 1fr);
  }
}
