.weblog {
  font-size: 1.3em;
}

.cf-weblog-article {
  margin-bottom: 2em;
  padding-bottom: 2em;
  border-bottom: $dividing-border;

  header {
    h2 {
      margin-top: 0;
      margin-bottom: 1em;
    }

    .details {
      margin-bottom: 0.5em;

      .count::before {
        margin-right: 0.2em;
        margin-left: 0.25em;
        content: "\00b7";
      }
    }
  }

  .cf-weblog-article-thumbnail {
    float: left;
    margin: 0 0.75em 0.25em 0;
    max-width: 25%;
  }

  .details,
  .cf-weblog-tags,
  .cf-weblog-author {
    font-size: 0.9em;
    color: #909090;
  }

  .e-content {
    @include clearfix;
  }

  &:last-of-type {
    border-bottom: none;
  }

  .alignleft,
  .alignright {
    margin-top: 0;
    margin-bottom: 0;
  }
  .alignright {
    float: right;
    margin-left: 0.5em;
    margin-right: 0;
  }
  .alignleft {
    float: left;
    margin-right: 0.5em;
    margin-left: 0;
  }
  img.alignleft,
  img.alignright {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
  }

  img {
    max-width: 100%;
  }

  .gallery {
    margin: 1em 0;
    padding: 0;

    figure {
      margin: 0;
    }
  }
}

.cf-weblog-comments {
  font-size: 1rem;

  & > .answers {
    padding-left: 0;
  }
}

@include default-breakpoint() {
  .weblog {
    main {
      margin-left: 0;
      margin-right: 0;
    }
    #content {
      max-width: 50rem;
      margin: auto;
    }

    .selflinks {
      max-width: 50rem;
      margin: auto;
    }
  }

  .cf-weblog-article {
    .gallery {
      &.two-cols {
        display: grid;
        gap: 1em;
        grid-template-columns: 1fr 1fr;
      }

      &.three-cols {
        display: grid;
        gap: 1em;
        grid-template-columns: 1fr 1fr 1fr;
      }

      &.four-cols {
        display: grid;
        gap: 1em;
        grid-template-columns: 1fr 1fr 1fr 1fr;
      }
    }
  }
}
