@charset "utf-8";

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0px;
  font-size: 1rem;
  font-family: $default-font-family;
  font-weight: 400;
  line-height: 1.42857;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  transition: all 0.2s ease-in-out 0s;
}

.btn:hover,
.btn:focus,
.btn.focus {
  color: $default-foreground-color;
  text-decoration: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.btn:focus,
.btn:active:focus {
  outline: thin dotted;
  outline-offset: -2px;
}

.cf-btn {
  @extend .btn;
  color: $default-foreground-color;
  background-color: $default-background-color;
  border-color: $grey-border;
}

.cf-btn-xs {
  padding: 3px 6px;
  line-height: 1em;
}

.cf-index-btn {
  @extend .cf-btn;
  @extend .cf-btn-xs;
}

.cf-destructive-index-btn,
.cf-destructive-index-btn:link {
  @extend .cf-destructive-btn;
  @extend .cf-btn-xs;
}

.cf-primary-index-btn,
.cf-primary-index-btn:link {
  @extend .cf-primary-btn;
  @extend .cf-btn-xs;
}

.cf-btn:hover,
.cf-btn:focus,
.cf-btn:active {
  color: $default-foreground-color;
  background-color: #e6e6e6;
  border-color: #adadad;
}

.cf-btn:link,
.cf-btn:visited {
  color: $default-foreground-color;
}

.cf-primary-btn {
  @extend .btn;
  color: $default-background-color;
  background-color: $primary-color;
  border-color: #2e6da4;
}

.cf-primary-btn:link,
.cf-primary-btn:visited {
  color: $default-background-color;
}

.cf-destructive-btn,
.cf-destructive-btn:link {
  @extend .cf-btn;

  color: $default-background-color;
  background-color: #d9534f;
  border-color: #d43f3a;
}

.cf-primary-btn:hover,
.cf-primary-btn:focus,
.cf-primary-btn:active {
  color: $default-background-color;
  background-color: #286090;
  border-color: #204d74;
}

.cf-destructive-btn:hover,
.cf-destructive-btn:active,
.cf-destructive-btn:focus {
  color: $default-background-color;
  background-color: #bd2130;
  border-color: #b21f2d;
}

.cf-btn.spinning {
  padding-left: 2.5em;
  background: url("/images/ajax-loader.svg") no-repeat left scroll;
  background-size: contain;
}

.cf-btn.confirming,
.cf-primary-btn.confirming,
.cf-destructive-btn.confirming,
.cf-index-btn.confirming,
.cf-primary-index-btn.confirming,
.cf-destructive-index-btn.confirming {
  transition: all 0.5s ease;
}
