.cf-cite {
  @extend .cf-thread-message;

  .cf-cite-header,
  .cf-cite-footer {
    @extend .cf-message-header;

    h2,
    h3 {
      line-height: 1em;
    }
  }

  .cf-cite-content {
    @extend .cf-posting-content;
  }

  .posting-header {
    display: flex;

    header {
      flex: 1 1 auto;
    }
  }
}

.cf-voting-area.cf-voting-area-cites .cf-inline-form:last-of-type {
  margin-right: 0;
}
