/* -*- coding: utf-8 -*- */
@import "variables.css.scss";

footer {
  margin: 1em;
  border-top: 2px solid $standard_hr_color;
  padding-top: .5em;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .termitel-sponsor {
    margin-top: 0.5em;
    margin-bottom: 1em;
    font-size: 0.8em;
  }

  a:link,
  a:visited {
    color: $link_color;

    &:hover,
    &:active,
    &:focus {
      color: $active_link_color;
    }
  }
}

@media only screen and (min-width: 35em) {
  footer {
    margin: 2em 1em 2em 2em;

    li {
      display: inline;

      &:not(:first-child) {
        border-left: 2px solid $standard_hr_color;
        padding-left: .2em;
      }
    }

    .termitel-sponsor {
      margin-top: -1.5em;
      float: right;
    }
  }
}

/* eof */
