@charset "utf-8";

.cf-footer {
  margin: 0.5em;
  border-top: 2px solid $standard-hr-color;
  padding-top: 0.5em;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li.sponsor {
    text-align: center;
  }
  img {
    margin-top: 1em;
    width: 80%;
  }
}

@include default-breakpoint() {
  .cf-footer {
    margin: 2em 1em 2em 2em;

    li {
      display: inline;
      border-left: 2px solid $standard-hr-color;
      padding-left: 0.3em;
    }

    li:first-of-type,
    li:last-of-type {
      border-left: 0;
      padding-left: 0;
    }

    li.sponsor {
      float: right;
      text-align: left;
      border-left: 0;
      margin-left: 1em;
    }

    img {
      height: 1.5em;
      width: auto;
      margin-top: 0;
    }
  }
}
