@charset "utf-8";

@mixin input-definitions() {
  padding: 0.25em;
  color: $default-foreground-color;
  background-color: $default-background-color;
  background-image: none;
  border: 1px solid $grey-border;
  border-radius: $input-border-radius;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  font-size: 16px;
  height: calc(1.5em + 0.25em + 0.25em + 1px);
  line-height: 1em;
  font-family: $default-font-family;
}

.cf-form {
  ::-moz-focus-inner {
    padding: 0;
    margin: 0;
    border: 0;
  }

  ::placeholder {
    color: $placeholder-color;
  }

  .cf-cgroup {
    vertical-align: middle;
    margin-bottom: 1em;
    max-width: $max-message-desktop-width;

    label,
    .label {
      display: block;
      vertical-align: middle;
      margin-bottom: 0.25em;
    }

    input,
    select,
    textarea {
      width: 100%;
      display: block;
      @include input-definitions();
    }

    textarea {
      height: 20em;
    }

    input[type="radio"],
    input[type="checkbox"] {
      width: auto;
      height: auto;
      display: inline;
      margin-right: 0.5em;
    }

    input:focus,
    select:focus,
    textarea:focus {
      @include focus-w-shadow();
    }

    input[disabled],
    select[disabled],
    textarea[disabled] {
      background-color: #eee;
    }

    label.radio,
    label.checkbox {
      width: 100%;
      margin-bottom: 0;

      input[type="checkbox"],
      input[type="radio"] {
        display: inline;
        margin-right: 0.25em;
      }
    }

    .help-text {
      margin-top: 0;
      margin-bottom: 0;
      font-size: 0.8em;
    }
  }

  .help {
    font-size: 0.875em;
  }
  :focus + small {
    color: $focus-color;
  }

  .cf-cgroup.has-error {
    input,
    select,
    textarea {
      border: 2px solid $error-color;
      padding-left: 2.25rem;
      background-image: url("/images/bad.svg");
      background-repeat: no-repeat;
      background-position: left 0.5625rem center;
      background-size: 1.125rem 1.125rem;
    }

    input:focus,
    select:focus,
    textarea:focus {
      border-color: $error-color;
      box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
    }

    .help {
      color: $error-color;
    }
  }

  .cf-cgroup.is-valid {
    input,
    select,
    textarea {
      border: 2px solid $valid-color;
      padding-left: 2.25rem;
      background-image: url("/images/good.svg");
      background-repeat: no-repeat;
      background-position: left 0.5625rem center;
      background-size: 1.125rem 1.125rem;
    }

    input:focus,
    select:focus,
    textarea:focus {
      border-color: $valid-color;
      box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
    }

    .help {
      color: $valid-color;
    }
  }

  .help.error {
    color: $error-color;
    font-size: 1em;
  }

  .cf-form-tagslist .has-error {
    color: $error-color;
    padding-right: 0.5em;

    .cf-tag {
      border: 2px solid $error-color;
      margin-right: 0.25em;
      //color: $error-color;
    }
  }

  fieldset {
    min-width: 0;
    padding: 0;
    margin: 0;
    border: 0;
  }

  legend {
    display: block;
    width: 100%;
    font-weight: bold;
    font-size: 1.1em;
    margin-bottom: 1em;
    margin-top: 1em;
    border-bottom: 2px solid $standard-hr-color;
  }
}

.cf-search-form {
  margin-bottom: 1em;
  .cf-cgroup {
    display: inline;

    input,
    select,
    textarea {
      @include input-definitions();
    }

    input[type="radio"],
    input[type="checkbox"] {
      margin-right: 0.5em;
    }

    input:focus,
    select:focus,
    textarea:focus {
      @include focus-w-shadow();
    }

    input[disabled],
    select[disabled],
    textarea[disabled] {
      background-color: #eee;
    }

    label.radio,
    label.checkbox {
      input[type="checkbox"],
      input[type="radio"] {
        margin-right: 0.25em;
      }
    }
  }
}

.cf-inline-form {
  display: inline;
}

.form-actions {
  .cf-btn,
  .cf-primary-btn {
    margin-right: 0.2em;
  }
}

@include default-breakpoint() {
  .cf-form {
    .cf-cgroup {
      textarea {
        padding: 0.5em;
      }
    }
  }
}
