@charset "utf-8";

@mixin input-definitions() {
  padding: 0.25em;
  color: $default-foreground-color;
  background-color: $default-background-color;
  background-image: none;
  border: 1px solid $grey-border;
  border-radius: $input-border-radius;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  font-size: 16px;
  height: calc(1.5em + 0.25em + 0.25em + 1px);
  line-height: 1em;
}

.cf-form {
  ::-moz-focus-inner {
    padding: 0;
    margin: 0;
    border: 0;
  }

  ::placeholder {
    color: $placeholder-color;
  }

  .cf-cgroup {
    vertical-align: middle;
    margin-bottom: 1em;
    max-width: $max-message-desktop-width;

    label,
    .label {
      display: block;
      vertical-align: middle;
      margin-bottom: 0.25em;
    }

    input,
    select,
    textarea {
      width: 100%;
      display: block;
      @include input-definitions();
    }

    textarea {
      height: 20em;
    }

    input[type="radio"],
    input[type="checkbox"] {
      width: auto;
      height: auto;
      display: inline;
      margin-right: 0.5em;
    }

    input:focus,
    select:focus,
    textarea:focus {
      @include focus-w-shadow();
    }

    input[disabled],
    select[disabled],
    textarea[disabled] {
      background-color: #eee;
    }

    label.radio,
    label.checkbox {
      width: 100%;
      margin-bottom: 0;

      input[type="checkbox"],
      input[type="radio"] {
        display: inline;
        margin-right: 0.25em;
      }
    }

    .help-text {
      margin-top: 0;
      margin-bottom: 0;
      font-size: 0.8em;
    }
  }

  .help {
    font-size: 0.875em;
  }
  :focus + small {
    color: $focus-color;
  }

  .cf-cgroup.has-error {
    input,
    select,
    textarea {
      border: 2px solid $error-color;
      padding-right: calc(1.5em + 0.75rem);
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23dc3545' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
      background-repeat: no-repeat;
      background-position: right calc(0.375em + 0.1875rem) center;
      background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
    }

    input:focus,
    select:focus,
    textarea:focus {
      border-color: $error-color;
      box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
    }

    .help {
      color: $error-color;
    }
  }

  .cf-cgroup.is-valid {
    input,
    select,
    textarea {
      border: 2px solid $valid-color;
      padding-right: calc(1.5em + 0.75rem);
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath fill='%2328a745' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
      background-repeat: no-repeat;
      background-position: right calc(0.375em + 0.1875rem) center;
      background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
    }

    input:focus,
    select:focus,
    textarea:focus {
      border-color: $valid-color;
      box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
    }

    .help {
      color: $valid-color;
    }
  }

  .help.error {
    color: $error-color;
    font-size: 1em;
  }

  .cf-form-tagslist .has-error {
    color: $error-color;
    padding-right: 0.5em;

    .cf-tag {
      border: 2px solid $error-color;
      margin-right: 0.25em;
      //color: $error-color;
    }
  }

  fieldset {
    min-width: 0;
    padding: 0;
    margin: 0;
    border: 0;
  }

  legend {
    display: block;
    width: 100%;
    font-weight: bold;
    font-size: 1.1em;
    margin-bottom: 1em;
    margin-top: 1em;
    border-bottom: 2px solid $standard-hr-color;
  }
}

.cf-search-form {
  margin-bottom: 1em;
  .cf-cgroup {
    display: inline;

    input,
    select,
    textarea {
      @include input-definitions();
    }

    input[type="radio"],
    input[type="checkbox"] {
      margin-right: 0.5em;
    }

    input:focus,
    select:focus,
    textarea:focus {
      @include focus-w-shadow();
    }

    input[disabled],
    select[disabled],
    textarea[disabled] {
      background-color: #eee;
    }

    label.radio,
    label.checkbox {
      input[type="checkbox"],
      input[type="radio"] {
        margin-right: 0.25em;
      }
    }
  }
}

.cf-inline-form {
  display: inline;
}

.form-actions {
  .cf-btn,
  .cf-primary-btn {
    margin-right: 0.2em;
  }
}

@include default-breakpoint() {
  .cf-form {
    .cf-cgroup {
      textarea {
        padding: 0.5em;
      }
    }
  }
}
