@charset "utf-8";

main {
  display: block;
  margin: 0.5em;

  h1 {
    font-family: Oswald, $default-font-family;
    border-top: 2px solid $standard-hr-color;
    padding: 0.7em 0px 0px;
    margin: 0.5em 0em;
  }
}

@include default-breakpoint() {
  main {
    margin: 0.5em 2em;
  }
}
