@charset "utf-8";

.cf-message-header {
  line-height: 1.6em;

  h2,
  h3 {
    font-size: 1em;
    display: inline;
    line-height: inherit;
    margin: 0;
    font-weight: bold;
    border: 0;
  }

  .details {
    display: inline;
    list-style-type: none;
    margin-left: 0;
    font-size: 1em;
  }

  .author,
  .author a:link,
  .author a:visited {
    white-space: nowrap;
    font-weight: bold;
    color: $bolded-color;
  }

  .author a:focus,
  .author a:hover,
  .author a:active {
    color: $active-link-color;
  }

  &.highlighted-user .author a,
  &.highlighted-user .author {
    color: $highlight-user-color;
  }
  &.highlighted-self .author a,
  &.highlighted-self .author {
    color: $highlight-self-color;
  }
  &.visited.highlighted-user .author a,
  &.visited.highlighted-user .author {
    color: $highlight-user-color-visited;
  }
  &.visited.highlighted-self .author a,
  &.visited.highlighted-self .author {
    color: $highlight-self-color-visited;
  }

  .author-infos {
    .author-homepage,
    .author-email {
      span {
        @include visually-hidden();
      }
    }
  }

  .votes,
  .num-infos {
    display: inline-block;
    color: #8a9da8;
    font-size: 0.9em;
    cursor: default;
  }

  .num-infos:before,
  .num-unread:before {
    content: "|";
    color: $visited-link-color;
    opacity: 0.5;
    margin-left: -0.3em;
    margin-right: 0.2em;
  }

  .votes {
    margin-right: 0.5em;
    text-align: right;
  }

  .num-infos {
    margin-right: 0.5rem;
  }

  &.deleted {
    h2,
    h2 a,
    h3,
    h3 a,
    .details,
    .details a {
      color: $deleted-color;
      text-decoration: line-through;
    }
  }

  .registered-user img {
    max-height: 0.9em;
  }

  .cf-thread-forum-plate {
    font-size: 90%;
    font-weight: bold;
    background-color: #9aaab3;
    border-radius: $default-border-radius;
    padding: 0.2em 0.6em 0.15em;
    color: #fff;
    margin-right: 0.5em;

    &:link,
    &:visited {
      color: #fff;
    }
  }

  &.visited,
  &.visited a,
  a:visited {
    color: $visited-link-color;
    fill: $visited-link-color;
  }

  &.visited:hover,
  &.visited a:hover,
  a:visited:hover,
  &.visited:active,
  &.visited a:active,
  a:visited:active,
  &.visited:focus,
  &.visited a:focus,
  a:visited:focus {
    color: $active-link-color;
    fill: $active-link-color;
  }

  &.active,
  &.active a,
  &.visited.active,
  &.visited.active a,
  &.active .author,
  &.active.visited .author,
  &.active .author a,
  &.active.visited .author a {
    font-weight: bold;
    color: $active-posting-color;
    fill: $active-posting-color;
  }

  h2 a {
    font-weight: bold;
  }

  .thread-icons,
  .message-icons {
    margin-right: 0.5rem;

    .icon-button {
      border: 0;
      padding: 0;
      margin: 0;
      background-color: transparent;
      color: $link-color;
      fill: $link-color;
      cursor: pointer;
    }

    .icon-button:hover,
    .icon-button:active,
    .icon-button:focus {
      color: $active-link-color;
      fill: $active-link-color;
    }

    .icon-button:visited,
    .icon-button svg:visited {
      color: $visited-link-color;
      fill: $visited-link-color;
    }
  }

  &.visited .thread-icons .icon-button,
  &.visited .message-icons .icon-button {
    color: $visited-link-color;
    fill: $visited-link-color;

    &:hover,
    &:active,
    &:focus {
      color: $active-link-color;
      fill: $active-link-color;
    }
  }

  .icon-message.boring {
    color: $self-green;
    fill: $self-green;
  }
}

.cf-thread-message .cf-message-header {
  h2 a,
  h3 a,
  .details a.version-link,
  &.visited h2 a,
  &.visited h3 a,
  &.visited .details a.versions {
    color: $link-color;
  }

  h2 a:hover,
  h3 a:hover,
  .details a.versions:hover,
  &.visited h2 a:hover,
  &.visited h3 a:hover,
  &.visited .details a.version-link:hover,
  h2 a:active,
  h3 a:active,
  .details a.versions:active,
  &.visited h2 a:active,
  &.visited h3 a:active,
  &.visited .details a.version-link:active,
  h2 a:focus,
  h3 a:focus,
  .details a.versions:focus,
  &.visited h2 a:focus,
  &.visited h3 a:focus,
  &.visited .details a.version-link:focus {
    color: $active-link-color;
  }
}

@include default-breakpoint() {
  .cf-message-header {
    .votes,
    .num-infos {
      display: inline-block;
    }

    h3 > a,
    .author {
      text-decoration: none;
    }

    .details > a,
    .cf-thread-forum-plate {
      display: inline;
    }
  }
}
