.cf-moderation-queue-entry {
  @extend .cf-thread-message;

  .cf-resolution {
    color: #155724;
    border: 1px solid #c3e6cb;
    background-color: #d4edda;
    border-radius: 0px 0.7em 0.7em;
    margin: 0.5em 0px;
    padding: 0.8em 1em 1em;
  }
}
