@charset "utf-8";

.cf-thread-nested {
  display: inline-block;
  ol {
    padding-left: 1em;
    list-style-type: none;
  }

  .cf-posting-content ol {
    list-style-type: decimal;
  }

  .cf-thread-message.active {
    @include focus-w-shadow();
  }

  .cf-thread-message.folded {
    .cf-posting-content,
    .posting-footer {
      display: none;
    }
  }

  .cf-message-header-unfold-button {
    display: inline;
    border: 0;
    float: right;
  }
}

@media only screen and (min-width: 35em) {
  .cf-thread-nested {
    ol {
      padding-left: 2em;
    }
  }
}
