@charset "utf-8";

.cf-thread-nested {
  display: inline-block;
  ol {
    padding-left: 1em;
    list-style-type: none;
  }

  .cf-posting-content ol {
    list-style-type: decimal;
  }

  .cf-thread-message.active {
    @include focus-w-shadow();
  }

  .cf-thread-message.folded {
    .cf-posting-content,
    .posting-footer,
    .problematic-site {
      display: none;
    }
  }

  .cf-thread-message {
    position: relative;
  }

  .cf-message-header-unfold-button {
    border: 0;
    cursor: pointer;
    position: absolute;
    right: 1em;
    top: 4em;
  }
}

#folding-all-button {
  position: fixed;
  right: 2em;
  top: 40%;
  border: 1px solid $grey_border;
  border-radius: $default_border_radius;
  font-size: 1em;
  display: none;
}

@media only screen and (min-width: 35em) {
  .cf-thread-nested {
    ol {
      padding-left: 2em;
    }
  }

  #folding-all-button {
    display: block;
  }
}
