@charset "utf-8";

.cf-thread-nested {
  display: inline-block;
  ol {
    padding-left: 1em;
    list-style-type: none;
  }

  .cf-posting-content ol {
    list-style-type: decimal;
  }

  .cf-thread-message.active {
    @include focus-w-shadow();
  }

  .cf-thread-message.folded {
    .cf-posting-content,
    .posting-footer,
    .cf-problematic-site,
    .cf-close-vote {
      display: none;
    }
  }

  .cf-message-header-unfold-button {
    border: 0;
    cursor: pointer;
    display: block;
    width: calc(100% - 0.2em);
    padding: 0.25em 0;
    border-radius: $default-border-radius;
    margin: 0.5em 0.1em;
    background-color: $default-background-color;
    color: $default-foreground-color;
  }
}

#folding-all-button {
  position: fixed;
  right: 0;
  top: 40%;
  border: 1px solid $grey-border;
  border-radius: $default-border-radius;
  font-size: 1em;
  display: none;

  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-top: 0;

  transform: rotate(90deg) translate(50%, 50%);
  transform-origin: 100% 50%;
}

@include default-breakpoint() {
  .cf-thread-nested {
    ol {
      padding-left: 2em;
    }

    .cf-message-header-unfold-button {
      width: auto;
      display: inline;
      padding: 0.25em 1em;
      margin: 0;
    }
  }

  #folding-all-button {
    display: block;
  }
}
