@charset "utf-8";

.cf-pages {
  text-align: center;

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0px;
    margin: 1.5em;
    border-radius: 4px;
    list-style-type: none;
  }

  li {
    flex: 0 0 auto;
    align-self: center;
    border: 0;
  }

  li > a,
  li > span {
    border: 1px solid $grey-border;
    display: block;
    margin-left: -1px;
    color: $primary-color;
    text-decoration: none;
    padding: 0.5em 1em;
  }

  li:first-child > a,
  li:first-child > span {
    margin-left: 0px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }

  li:last-child > a,
  li:last-child > span {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  .active > a,
  .active > span,
  .active > a:hover,
  .active > span:hover,
  .active > a:focus,
  .active > span:focus {
    color: $default-background-color;
    cursor: default;
    background-color: $primary-color;
    border-color: $primary-color;
  }

  .disabled > span,
  .disabled > span:hover,
  .disabled > span:focus,
  .disabled > a,
  .disabled > a:hover,
  .disabled > a:focus {
    color: #777;
    cursor: not-allowed;
    background-color: $default-background-color;
    border-color: $grey-border;
  }
}
