.cf-posting-content-diff {
  @extend .cf-posting-content;

  white-space: pre-wrap;

  ins {
    text-decoration: none;
    color: $green-fg-color;
    background-color: $green-bg-color;
  }

  del {
    text-decoration: none;
    color: $red-fg-color;
    background-color: $red-bg-color;
  }
}
