.cf-content-form,
.cf-editor-form {
  max-width: $max-message-desktop-width;
  position: relative;
}

.cf-form .cf-content-form .cf-cgroup,
.cf-form .cf-editor-form .cf-cgroup {
  textarea {
    font-family: $default-monospace-font-family;
  }
}

.cf-posting-input {
  min-height: 20em;
  max-height: 70vh;
  font-family: $default-monospace-font-family;
}

.cf-editor {
  border: 1px solid $grey-border;
  padding: 0.25em;
  border-radius: $input-border-radius;
}

$radius: 0.3em;

.cf-editor-toolbar {
  & > button,
  & > a {
    font-size: 1rem;
    margin-right: 0.25em;
    margin-bottom: 0.25em;
    line-height: 1.5em;
    padding: 0.25em 0.5em;
    background-color: #f5f5f5;
    display: inline-block;
    min-width: 2em;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 0;
    border-radius: $radius;
    color: #000;
  }

  .cf-editor-toolbar-help-btn {
    color: #c32e04;
    background-color: #feebe6;
    font-weight: bold;
  }

  img {
    vertical-align: middle;
    max-height: 1em;
  }
}

.cf-content-counter {
  position: absolute;
  right: 0.25em;
  padding: 0 0.25em;
  border-radius: $radius;
  background-color: #f1f3f4;
}

.cf-content-counter.warning {
  color: $yellow-fg-color;
  background-color: $yellow-bg-color;
}

.cf-content-counter.error {
  color: $red-fg-color;
  background-color: $red-bg-color;
}

.cf-posting-input__suggestions__list {
  background-color: white;
  border: 1px solid $grey-border;
  border-radius: $radius;

  width: 25em;
  position: absolute;
  top: 1em;
  left: 1em;
}

.cf-posting-input__suggestions__item {
  padding: 0.5em 0.5em;
  border-bottom: 1px solid $grey-border;
}

.cf-posting-input__suggestions__item:first-of-type {
  border-top-left-radius: $radius;
  border-top-right-radius: $radius;
}

.cf-posting-input__suggestions__item:last-of-type {
  border-bottom: 0;
  border-bottom-left-radius: $radius;
  border-bottom-right-radius: $radius;
}

.cf-posting-input__suggestions__item--focused {
  background-color: #ddd;
}

.emoji-mart {
  position: absolute;
  z-index: 9999;
  background-color: #fff;
}

.cf-dropzone {
  display: none;

  &.loading {
    background: url(/images/ajax-loader.svg) no-repeat center scroll transparent;
    background-size: contain;

    span {
      display: none;
    }
  }
}

.cf-dropzone-thumbnail {
  max-width: 20em;
}

.cf-posting-form {
  margin-bottom: 1em;
}
.cf-posting-form-section-header {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 0.25em;
  margin-top: 0.5em;
}

.cf-emoji-picker {
  display: inline-block;
}

.cf-tag-suggestion-synonyms {
  margin-left: 0.5em;
}

@include default-breakpoint() {
  .cf-dropzone {
    height: 3em;
    border: 1px solid $grey-border;
    padding: 0.25em;
    border-radius: 0px 0.5em 0.5em;
    background-color: #f1f3f4;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

    button {
      flex: 1 1 auto;
      border: 0;
      background-color: inherit;
      cursor: pointer;
      height: 100%;
      padding: 0;
      margin: 0;
    }

    input {
      display: none;
    }
  }

  .cf-dropzone.dragging {
    height: 95%;
    width: 95%;
    top: 2.5%;
    left: 2.5%;
    z-index: 99999;
    position: fixed;
  }
}
