.cf-posting-content-diff {
  @extend .cf-posting-content;

  white-space: pre-wrap;

  ins {
    text-decoration: none;
    color: $green-fg-color;
    background-color: $green-bg-color;
    display: block;
  }

  del {
    text-decoration: none;
    color: $red-fg-color;
    background-color: $red-bg-color;
    display: block;
  }

  ins,
  del {
    ins {
      display: inline;
      background-color: darken($green-bg-color, 10%);
    }
    del {
      display: inline;
      background-color: darken($red-bg-color, 10%);
    }
  }
}
