@charset "utf-8";

.cf-posting-content {
  color: $posting-content-color;
  border: 1px solid #e7c157;
  background: none repeat scroll 0% 0% $posting-content-background;
  font-family: $default-font-family;
  margin: 0.5em 0px;
  padding: 0.8em 0.1em 1em;
  border-radius: 0px 0.5em 0.5em;
  line-height: 1.4em;
  image-orientation: from-image;
  hyphens: auto;

  &.deleted {
    color: darken($deleted-color, 5%);
    background-color: lighten($posting-content-background, 20%);
    text-decoration: line-through;
  }

  & > :first-child {
    margin-top: 0;
  }

  & > :last-child {
    margin-bottom: 0;
  }

  a {
    text-decoration: underline;
  }

  a.mention {
    text-decoration: none;
    color: inherit;
    background-color: #eee;
    font-weight: bold;

    &:hover {
      text-decoration: underline;
    }
    &.highlighted-user {
      color: $highlight-user-color;
    }
    &.highlighted-self {
      color: $highlight-self-color;
    }
  }

  blockquote a.mention {
    &.highlighted-user {
      color: $highlight-user-color-visited;
    }
    &.highlighted-self {
      color: $highlight-self-color-visited;
    }
  }

  img {
    max-width: 100%;
  }

  img[style*="rotate"] {
    image-orientation: initial;
  }

  ul,
  ol {
    margin-top: 1em;
    padding-left: 2em;
  }

  ul {
    list-style-type: disc;
  }

  ul ul {
    list-style-type: circle;
  }

  ul ul ul {
    list-style-type: square;
  }

  h3,
  h4 {
    margin: 0.8em 0;
    font-weight: bold;
  }
  h3 {
    font-size: 1.3em;
  }
  h4 {
    font-size: 1.1em;
  }

  table {
    border-collapse: collapse;
    margin: 1em 0;
  }

  th,
  td {
    border: 1px solid;
    padding: 0.1em 0.3em;
  }

  tfoot td {
    font-weight: bold;
  }

  dt {
    font-weight: bold;
  }

  sup {
    position: relative;
    vertical-align: baseline;
    top: -0.4em;
  }

  blockquote {
    border-left: 0.3em solid #d5d5d5;
    margin-left: 0;
    padding-left: 1em;
    color: #808080;
  }

  blockquote blockquote {
    border-width: 0.25em;
    padding-left: 0.5em;
  }

  hr {
    border: none;
    background-color: #8a9da8;
    height: 1px;
  }

  .signature {
    color: #808080;
  }
}

.archived .cf-posting-content {
  background-image: url(/images/archived.png);
  background-position: top right;
  background-repeat: no-repeat;
  padding-top: 30px;
}

@include default-breakpoint() {
  .cf-posting-content {
    padding: 0.8em 1em 1em;
  }
}
