.cf-posting-form {
  max-width: 55em;
}

.cf-posting-input {
}

$radius: 0.3em;

.cf-posting-input__suggestions__list {
  background-color: white;
  border: 1px solid $grey_border;
  border-radius: $radius;

  width: 25em;
  position: absolute;
  top: 1em;
  left: 1em;
}

.cf-posting-input__suggestions__item {
  padding: 0.5em 0.5em;
  border-bottom: 1px solid $grey_border;
}

.cf-posting-input__suggestions__item:first-of-type {
  border-top-left-radius: $radius;
  border-top-right-radius: $radius;
}

.cf-posting-input__suggestions__item:last-of-type {
  border-bottom: 0;
  border-bottom-left-radius: $radius;
  border-bottom-right-radius: $radius;
}

.cf-posting-input__suggestions__item--focused {
  background-color: #ddd;
}
