ul.search-explanation {
  padding: 0;
  margin-left: 1em;
}

.cf-search-results {
  .cf-thread {
    header h3 {
      margin-left: 0;
    }
    ol {
      padding-left: 0.5em;
    }
  }
  p {
    margin: 0;
  }
}
