@charset "utf-8";

a.cf-sortable,
a.cf-sortable:visited,
a.cf-sortable:active {
  color: $link-color;
}

.cf-sortable.sort-descending::after {
  content: "⌄";
  margin-left: 0.25em;
}
.cf-sortable.sort-ascending::after {
  content: "⌃";
  margin-left: 0.25em;
}
