/* -*- coding: utf-8 -*- */

@import "variables.css.scss";

a.sortable,
a.sortable:visited,
a.sortable:active {
  color: $link_color;
}

.sortable.sort-descending::after {
  content: "⌄";
  margin-left: 0.25em;
}
.sortable.sort-ascending::after {
  content: "⌃";
  margin-left: 0.25em;
}

/* eof */
