@import "variables.scss";
@import "cf-btn.scss";

[role="tablist"],
.tablist {
  border-bottom: 2px solid $standard_hr_color;
  margin-bottom: 2rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;

  ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 0;

    li {
      display: inline;
    }
  }

  button,
  ul li a {
    @extend .cf-btn;

    margin-right: 0;
    border-bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  button:hover,
  button:active,
  button:focus,
  ul li a:hover,
  ul li a:active,
  ul li a:focus {
    border-bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  [aria-selected="true"],
  li.active {
    background-color: #f1f3f4;
  }
}
