@charset "utf-8";

.cf-tags-list {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    display: inline;
  }

  .cf-tag {
    display: inline;
    background-color: $tag-background-color;
    margin-right: 0.5em;
    padding: 0.1em 0.4em 0 0.4em;
    color: $tag-color;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border: 1px solid $tag-border-color;
    border-radius: 0 0.25em 0.25em;

    &:link,
    &:visited {
      color: $tag-visited-color;
    }

    &:hover,
    &:focus,
    &:active {
      border: 1px solid $tag-border-color;
      color: $active-link-color;
    }
  }

  button.remove,
  button.add {
    border: 0;
    background: transparent;
    display: inline;
    margin: 0;
    padding: 0;
    cursor: pointer;
  }
}

.cf-tag-new-tag {
  margin-top: 1em;
}

.cf-form-tagslist {
  list-style-type: none;
  padding-left: 0;

  .cf-tag {
    position: relative;
    padding-right: 1.5em;

    button {
      text-align: right;
      position: absolute;
      width: 100%;
      height: 100%;
      padding-right: 0.25em;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;

      svg {
        vertical-align: middle;
      }
    }
  }
}

body.js .cf-form-tagslist[data-no-js="yes"] {
  display: none;
}

.cf-tags-list-thread {
  @extend .cf-tags-list;
  margin-right: 1em;

  .cf-tag {
    font-size: 0.8em;

    &:hover,
    &:focus,
    &:active {
      border: 1px solid $tag-border-color;
    }

    a,
    a:visited,
    span {
      color: inherit;
    }

    a:hover,
    a:focus,
    a:active {
      color: $active-link-color;
    }
  }

  .visited .cf-tag {
    background-color: $grey-background;
    border-color: $tag-visited-border-color;

    a,
    a:visited,
    span {
      color: $visited-link-color;
    }

    a:hover,
    a:focus,
    a:active {
      color: $active-link-color;
    }
  }

  .active .cf-tag a {
    font-weight: normal;
  }
}

.cf-counted-tags-list {
  @extend .cf-tags-list;

  vertical-align: top;

  li {
    display: inline-block;
    font-size: 0.9em;
    margin-bottom: 0.5em;
    margin-right: 0.5em;
  }

  .cf-tag {
    margin-left: 0;
    font-weight: normal;
    margin-right: 0.25em;

    span {
      margin-right: 0.25em;
    }
  }

  .cnt {
    display: inline-block;
    text-align: center;
    padding: 0.1em 0.6em 0 0.6em;
    border-radius: $default-border-radius;
    color: #5d7380;
    border: 1px solid #c4c4c4;
  }
}
