@charset "utf-8";

.cf-tags-list {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    display: inline;
  }

  .cf-tag {
    display: inline;
    background-color: $tag_background_color;
    margin-right: 0.5em;
    padding: 0.1em 0.4em 0 0.4em;
    font-weight: bold;
    color: $tag_color;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border: 1px solid $tag_border_color;
    border-radius: 0 0.25em 0.25em;

    &:link,
    &:visited {
      color: $tag_visited_color;
    }

    &:hover,
    &:focus,
    &:active {
      border: 1px solid $tag_border_color;
      color: $active_link_color;
    }
  }
}

.cf-tags-list-thread {
  @extend .cf-tags-list;
  margin-right: 1em;

  .cf-tag {
    font-size: 0.8em;

    &:hover,
    &:focus,
    &:active {
      border: 1px solid $tag_border_color;
    }

    a,
    a:visited,
    span {
      color: inherit;
    }

    a:hover,
    a:focus,
    a:active {
      color: $active_link_color;
    }
  }

  .visited .cf-tag {
    background-color: $grey_background;
    border-color: $tag_visited_border_color;

    a,
    a:visited,
    span {
      color: $visited_link_color;
    }

    a:hover,
    a:focus,
    a:active {
      color: $active_link_color;
    }
  }

  .active .cf-tag a {
    font-weight: normal;
  }
}
