/* -*- coding: utf-8 -*- */

@import "variables.scss";

.cf-tags-list,
header .details .cf-tags-list,
.thread header ul.cf-tags-list {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;

  li.no-data {
    display: inline;
  }
}

.thread header ul.cf-tags-list {
  margin-right: 1em;
}

.cf-tag,
.thread li.cf-tag {
  display: inline;
  background-color: #e6f2f7;
  margin-top: 1px;
  margin-bottom: 1px;
  margin-left: 0.5em;
  padding: 0.1em 0.4em 0 0.4em;
  font-weight: bold;
  color: #3983ab;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border: 1px solid #a1c6d7;
  border-radius: 0 0.25em 0.25em;
}

.cf-tag.cf-tag-hidden {
  background-color: inherit;
}

.cf-tag {
  &:link,
  &:visited {
    color: $link_color;

    &:hover,
    &:focus,
    &:active {
      border: 1px solid #5983ab;
    }
  }
}

.thread {
  li.cf-tag {
    font-size: 0.8em;

    &:hover,
    &:focus,
    &:active {
      border: 1px solid #5983ab;
    }

    a,
    a:visitedtag_name,
    span {
      color: inherit;
    }

    a:hover,
    a:visited:hover {
      color: $active_link_color;
    }
  }

  .visited li.cf-tag {
    background-color: #f1f3f4;
    border-color: #c4c4c4;

    a:visited,
    a,
    span {
      color: #999;
    }
    a:hover,
    a:visited:hover {
      color: $active_link_color;
    }
  }

  .active li.cf-tag {
    a {
      font-weight: normal;
    }
  }
}

.user-info-tags {
  .cf-tag {
    font-weight: normal;
  }
}

.form-horizontal .cf-cgroup .cntrls input[type="text"].tags-input {
  width: 10%;
  display: inline;
}

/* eof */
