@charset "utf-8";

.cf-thread-list {
  display: inline-block;
  min-width: $max-message-desktop-width;

  .cf-message-header {
    display: inline-flex;
    flex-wrap: nowrap;
    align-items: baseline;
    white-space: nowrap;

    .details {
      flex: 1 1 auto;
    }

    .cf-thread-forum-plate {
      padding: 0 0.5em;
      margin-bottom: 0.3em;
    }

    h2,
    h3 {
      margin-right: 0.5em;
    }

    time {
      margin-right: 0.5em;
    }
  }

  .cf-thread > .cf-message-header {
    display: flex;
  }

  ol {
    overflow: hidden;
  }

  ol li.cf-message-answers:before {
    content: "";
    font-size: 1.6px;
    font-size: 0rem;
    vertical-align: top;
    padding: 500% 0.1rem 0;
    margin-right: 1rem;
  }

  li.cf-message-answers {
    background: url("/images/posting-pfeil1.png") no-repeat 0 -0.5em;
  }

  article ol li.cf-message-answers:only-child {
    background: none;
  }

  ol li.cf-message-answers:last-child:before {
    background: url("/images/posting-linie.png") repeat-y left top;
  }

  ol li.cf-message-answers:first-child:before {
    background-image: none;
  }
}

.cf-thread {
  background: $grey-background;
  margin-bottom: 0.75em;
  border: 1px solid $grey-border;
  border-radius: 0px 0.5em 0.5em;
  padding: 0.35em 1em 0 0.5em;

  ol {
    list-style-type: none;

    li {
      padding: 0;
      margin: 0;
    }
  }

  & > ol {
    background: $default-background-color;
    border-radius: 0px 0.5em 0.5em;
    margin: 0 -1em 0 -0.5em;
    padding: 0.25em 1.5em 0.5em 1em;
  }

  li ol {
    margin-left: -0.75em;
    padding-left: 1.5em;
  }

  .admin-infos {
    font-size: 70%;
  }

  position: relative;
  .thread-marker-icons {
    position: absolute;
    left: 0.2em;
    top: -0.7em;

    svg {
      width: 1.1em;
      height: 1.1em;
    }

    .has-interesting-icon {
      color: $self-green;
      fill: $self-green;
    }
    .sticky-icon {
      color: $active-link-color;
      fill: $active-link-color;
    }
    .no-archive-icon {
      color: $visited-link-color;
      fill: $visited-link-color;
    }
  }

  svg.new-svg {
    color: #df6c20;
    fill: #df6c20;
    margin-left: 0.5em;
  }
}

.cf-thread.closed {
  ol {
    display: none;
  }
}

@include default-breakpoint() {
  .cf-thread {
    min-width: 44em;

    ol .cf-message-header .author {
      padding-left: 0;
    }

    & > ol {
      padding-left: 4.5em;
    }
    li ol {
      padding-left: 2.5em;
    }
  }

  .cf-thread.accepted,
  .cf-thread.reference {
    min-width: 0;
  }
}
