@charset "utf-8";

.cf-thread-message {
  font-size: 1em;
  background: none repeat scroll 0% 0% #f1f3f4;
  width: 100%;
  width: 95vw;
  margin: 1em 0em 1em 0em;
  padding: 0.6em 0.1em 0.25em 0.1em;
  border-radius: 0px 0.7em 0.7em;
  border: 1px solid #d5d5d5;

  .problematic-site {
    font-size: 0.9em;
    background-color: #fdfcf3;
    border: 1px solid #e7c157;
    border-radius: 0 0.5em 0 0;
    border-bottom: 0 none;
    margin: 0.5em 0 -0.5em;
    padding: 0.5em 1em;

    & + .posting-content {
      border-top-right-radius: 0;
    }

    a {
      font-size: 1.1em;
    }
    a:before {
      font-size: 1.3em;
      color: #c32e04;
      margin-right: 0.3em;
      vertical-align: middle;
    }
  }

  details,
  .details {
    display: block;
  }

  header .avatar {
    margin-left: 0;
    margin-top: 0.3em;
    max-height: 1.2em;
    border-radius: 0 0.3em 0.3em;
  }

  .posting-footer .cf-btn {
    margin-bottom: 0.25em;
  }

  .cf-flagged-message {
    border: 1px solid #ebccd1;
    border-radius: 0px 0.7em 0.7em;
    color: #a94442;
    margin: 0.5em 0px;
    padding: 0.8em 1em 1em;
  }

  h3 {
    margin-top: 0;
    font-weight: bold;
    font-size: 1em;
  }
}

@media only screen and (min-width: 35em) {
  .cf-thread-message {
    margin: 1em 1em 1em 0;
    padding: 0.6em 1em 0.25em 1em;
    max-width: 100%;
    max-width: 95vw;
    width: 55em;
  }
}
