.fade-in-enter {
  opacity: 0.01;
}

.fade-in-enter.fade-in-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.fade-in-exit {
  opacity: 1;
}

.fade-in-exit.fade-in-exit-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.ReactModalPortal {
  & > div {
    opacity: 0;
  }

  .ReactModal__Overlay {
    transition: opacity 300ms ease-in-out;
    background: rgba(0, 0, 0, 0.15);
    &--after-open {
      opacity: 1;
    }
    &--before-close {
      opacity: 0;
    }
  }
}
