.cf-users-selector {
  margin-bottom: 0.25em;
}

.cf-user-selector-modal {
  ul {
    list-style-type: none;
    padding-left: 0;

    li {
      display: flex;
      margin-bottom: 0.25em;

      .author {
        flex: 1 1 auto;
      }

      button {
        flex: 0 0 auto;
      }
    }
  }
}

.cf-users-selector-btn {
  @extend .cf-index-btn;
}

.cf-users-selector.multi {
  ul {
    list-style-type: none;
    padding-left: 0;
  }

  .cf-users-selector-btn {
    @extend .cf-btn;
  }
}

@include default-breakpoint() {
  .cf-users-selector.multi,
  .cf-user-selector-modal .users-selector-found-users-list,
  .cf-user-selector-modal .users-selector-selected-users-list {
    display: inline-block;

    li {
      display: flex;
      margin-bottom: 0.25em;

      .user-link,
      .author {
        flex: 1 1 auto;
        margin-right: 1em;
      }

      button {
        flex: 0 0 auto;
      }
    }
  }
}
