@charset "utf-8";

.cf-score-table {
  width: 100%;

  .score {
    vertical-align: top;
  }
}

.cf-score-up {
  color: #31708f;
  background-color: #dff0d8;
  display: inline-block;
  vertical-align: middle;
  line-height: 2em;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 0 0.5em 0.5em;
  border: 1px solid $self-green;
}

.cf-score-down {
  color: #a94442;
  background-color: #f2dede;
  border: 1px solid #ebccd1;
  display: inline-block;
  vertical-align: middle;
  line-height: 2em;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 0 0.5em 0.5em;
}

.cf-badge-user-list {
  list-style-type: none;
  padding-left: 0;
  .medal-image {
    max-height: 1em;
  }
}

.cf-user-info-table {
  border-collapse: collapse;

  th {
    text-align: right;
    color: #5d7380;
    vertical-align: top;
  }

  td {
    text-align: left;
  }

  th,
  td {
    padding-left: 0.2em;
    padding-right: 0.2em;

    p:first-of-type {
      margin-top: 0;
    }
  }
}

.cf-box {
  background-color: #f1f3f4;
  border-radius: 0 0.4em 0.4em;
  border: 1px solid #d5d5d5;
  padding: 1em 0.7em 0.7em 1em;
  display: inline-block;
}

.cf-user-infos {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: stretch;

  .user-info {
    @extend .cf-box;

    flex: 1 1 auto;
    vertical-align: top;
    margin-bottom: 0.5em;
    text-align: center;

    & ~ .thread {
      border: 1px solid #d5d5d5;
      padding: 0.35em 1em;
    }
  }

  .user-profile {
    @extend .cf-box;

    flex: 1 1 auto;
    margin-bottom: 0.5em;
  }
}

@include default-breakpoint() {
  .cf-user-infos {
    .user-info {
      flex: 0 1 auto;
      margin-right: 0.5em;

      display: flex;
      align-items: center;

      img {
        flex: 0 0 auto;
        margin-right: 1em;
      }
    }

    .user-profile {
      flex: 0 1 auto;
    }
  }
}
