@charset "utf-8";

$default_foreground_color: #333;
$default_background_color: white;

$default_font_family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell,
  "Helvetica Neue", sans-serif;
$default_monospace_font_family: "Source Code Pro", Consolas, "DejaVu Sans Mono", "Bitstream Vera Sans Mono",
  "Andale Mono", "Droid Sans Mono", "Lucida Console", monospace;

$link_color: #3481cd;
$active_link_color: #990909;
$visited_link_color: #999;

$connected_color: #c32e04;

$standard_hr_color: #c4d4da;

$grey_border: #d5d5d5;
$grey_background: #f1f3f4;

$focus_color: #66afe9;

$error_color: #dc3545;

$primary_color: #337ab7;

$bolded_color: #5d7380;

$tag_color: #3983ab;
$tag_visited_color: #3481cd;
$tag_background_color: #e6f2f7;
$tag_border_color: #a1c6d7;
$active_tag_border_color: #5983ab;
$tag_visited_border_color: #c4c4c4;

$active_posting_color: #00a1e2;

$votes_color: #8a9da8;

$blue_fg_color: #004085;
$blue_bg_color: #cce5ff;
$blue_border_color: #b8daff;

$green_fg_color: #155724;
$green_bg_color: #d4edda;
$green_border_color: #c3e6cb;

$red_fg_color: #721c24;
$red_bg_color: #f8d7da;
$red_border_color: #f5c6cb;

$yellow_fg_color: #856404;
$yellow_bg_color: #fff3cd;
$yellow_border_color: #ffeeba;

$self_green: #8db243;

@mixin focus-w-shadow() {
  border-color: $focus_color;
  outline: 0px none;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(102, 175, 233, 0.6);
}
