@charset "utf-8";

$default-foreground-color: #333;
$default-background-color: white;

$default-font-family: "Source Sans Pro", "Segoe UI", Calibri, -apple-system, BlinkMacSystemFont, Roboto, Oxygen-Sans,
  Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
$default-monospace-font-family: "Source Code Pro", Hack, Monaco, Consolas, "DejaVu Sans Mono",
  "Bitstream Vera Sans Mono", "Andale Mono", "Droid Sans Mono", "Lucida Console", monospace;

$link-color: #3481cd;
$active-link-color: #990909;
$visited-link-color: #999;

$connected-color: #c32e04;

$standard-hr-color: #c4d4da;

$grey-border: #d5d5d5;
$grey-background: #f1f3f4;

$focus-color: #66afe9;

$error-color: #dc3545;

$primary-color: #337ab7;

$bolded-color: #5d7380;

$tag-color: #3983ab;
$tag-visited-color: #3481cd;
$tag-background-color: #e6f2f7;
$tag-border-color: #a1c6d7;
$active-tag-border-color: #5983ab;
$tag-visited-border-color: #c4c4c4;

$active-posting-color: #00a1e2;

$votes-color: #8a9da8;

$blue-fg-color: #004085;
$blue-bg-color: #cce5ff;
$blue-border-color: #b8daff;

$green-fg-color: #155724;
$green-bg-color: #d4edda;
$green-border-color: #c3e6cb;

$red-fg-color: #721c24;
$red-bg-color: #f8d7da;
$red-border-color: #f5c6cb;

$yellow-fg-color: #856404;
$yellow-bg-color: #fff3cd;
$yellow-border-color: #ffeeba;

$self-green: #8db243;

$highlight-user-color: #8ab337;
$highlight-self-color: #c32e04;
$highlight-user-color-visited: #bdd886;
$highlight-self-color-visited: #d37b6d;

$max-message-desktop-width: 45em;

$default-border-radius-top-left: 0;
$default-border-radius-top-right: 0.3em;
$default-border-radius-bottom-left: 0.3em;
$default-border-radius-bottom-right: 0.3em;
$default-border-radius: $default-border-radius-top-left $default-border-radius-top-right
  $default-border-radius-bottom-left $default-border-radius-bottom-right;

$bar-border-radius: 0px 0.5em 0.5em;
$input-border-radius: 4px;

$placeholder-color: #a8a8a8;

$header-bar-color: #699cb3;

$dividing-border: 2px solid $standard-hr-color;

$active-item-color: #fff;
$active-item-background-color: #007bff;
$active-item-border-color: #007bff;

@mixin focus-w-shadow() {
  border-color: $focus-color;
  outline: 0px none;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(102, 175, 233, 0.6);
}

@mixin visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

@mixin grey-box() {
  vertical-align: top;
  font-size: 1em;
  background: none repeat scroll 0% 0% $grey-background;
  padding: 0 0.25em 0.25em 0.5em;
  border-radius: $bar-border-radius;
  border: 1px solid $grey-border;
}

@mixin default-breakpoint() {
  @media only screen and (min-width: 35em) {
    @content;
  }
}
