.cf-voting-area {
  white-space: nowrap;
  text-align: right;
  margin-left: 1em;
  font-size: 1.5rem;
  font-weight: bold;
  color: $votes-color;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  button {
    border: 0;
    padding: 0;
    margin: 0;
    background: transparent;
    cursor: pointer;
  }

  .votes,
  .cf-inline-form {
    margin-right: 0.5rem;
  }

  .cf-inline-form {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
  }

  .vote-button,
  .infos,
  .accept {
    span {
      @include visually-hidden();
    }

    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    vertical-align: top;
  }

  .vote-up {
    background-image: url("/images/voting-area-icons.svg#vote-up-inactive");
  }
  .vote-up:hover,
  .vote-up:active,
  .vote-up:focus {
    background-image: url("/images/voting-area-icons.svg#vote-up-inactive-hover");
  }

  .vote-up.active {
    background-image: url("/images/voting-area-icons.svg#vote-up-active");
  }
  .vote-up.active:hover,
  .vote-up.active:active,
  .vote-up.active:focus {
    background-image: url("/images/voting-area-icons.svg#vote-up-active-hover");
  }

  .vote-up[disabled] {
    background-image: url("/images/voting-area-icons.svg#vote-up-disabled");
  }

  .vote-down {
    background-image: url("/images/voting-area-icons.svg#vote-down-inactive");
  }
  .vote-down:hover,
  .vote-down:active,
  .vote-down:focus {
    background-image: url("/images/voting-area-icons.svg#vote-down-inactive-hover");
  }

  .vote-down.active {
    background-image: url("/images/voting-area-icons.svg#vote-down-active");
  }
  .vote-down.active:hover,
  .vote-down.active:active,
  .vote-down.active:focus {
    background-image: url("/images/voting-area-icons.svg#vote-down-active-hover");
  }

  .vote-down[disabled] {
    background-image: url("/images/voting-area-icons.svg#vote-down-disabled");
  }

  .infos {
    background-image: url("/images/voting-area-icons.svg#info-standard");
  }

  .infos:hover,
  .infos:active,
  .infos:focus {
    background-image: url("/images/voting-area-icons.svg#info-red");
  }

  .accept.unaccepted-answer {
    background-image: url("/images/voting-area-icons.svg#accept-inactive");
  }
  .accept.unaccepted-answer:hover,
  .accept.unaccepted-answer:active,
  .accept.unaccepted-answer:focus {
    background-image: url("/images/voting-area-icons.svg#accept-active");
  }

  .accept.accepted-answer {
    background-image: url("/images/voting-area-icons.svg#accept-active");
  }
  .accept.accepted-answer:hover,
  .accept.accepted-answer:active,
  .accept.accepted-answer:focus {
    background-image: url("/images/voting-area-icons.svg#accept-inactive");
  }
}

@include default-breakpoint() {
  .posting-footer {
    .button-container {
      display: flex;
      flex-direction: row;
    }

    .message-links {
      flex: 1 1 auto;
      align-self: flex-start;
    }

    .cf-voting-area {
      flex: 0 0 auto;
      align-self: flex-start;
    }
  }

  .posting-header {
    display: flex;
    flex-direction: row;

    .cf-message-header {
      flex: 1 1 auto;
      align-self: flex-start;
    }

    .cf-voting-area {
      flex: 0 0 auto;
      align-self: flex-start;
    }
  }
}
