<p><%= gettext("Hi there, %{name}!", name: @user.username) %></p>

<p><%= gettext("You can confirm your account email through the link below:") %></p>

<p><%= link gettext("Confirm my account"), to: Path.registration_url(CforumWeb.Endpoint, :confirm, token: @user.confirmation_token) %></p>

<p><%= gettext("Best regards, SELFHTML") %></p>
