<%= gettext("Hi there, %{name}!", name: @user.username) %>

<%= gettext("You can confirm your account email through the link below:") %>

<<%= Path.registration_url(CforumWeb.Endpoint, :confirm, token: @user.confirmation_token) %>>

<%= gettext("Best regards, SELFHTML") %>
