<p><%= gettext("Hi there, %{name}!", name: @user.username) %></p>

<p><%= gettext("You can reset your password by following the instructions from the link below:") %></p>

<p><%= link gettext("reset password instructions"), to: Path.password_url(CforumWeb.Endpoint, :edit_reset, token: @user.reset_password_token) %></p>

<p><%= gettext("Best regards, SELFHTML") %></p>
