<%= gettext("Hi there, %{name}!", name: @user.username) %>

<%= gettext("You can reset your password by following the instructions from the link below:") %>

<<%= Path.password_url(CforumWeb.Endpoint, :edit_reset, token: @user.reset_password_token) %>>

<%= gettext("Best regards, SELFHTML") %>
