<%= Paginator.pagination @conn, @page, &Path.forum_path/4, path_args: ([@conn, :unanswered, @current_forum]) %>

<div class="cf-thread-list">
  <%= for thread <- @threads do %>
    <%= render "thread.html", conn: @conn, thread: thread %>
  <% end %>
</div>

<%= Paginator.pagination @conn, @page, &Path.forum_path/4, path_args: ([@conn, :unanswered, @current_forum]) %>