<%= form_for @changeset, cite_path(@conn, :create), [class: "cf-form"], fn f -> %>
  <%= render "form.html", Map.put(assigns, :f, f) %>

  <p class="form-actions">
    <%= primary_submit gettext("suggest cite") %>
    <%= default_button_link gettext("cancel"), to: cite_path(@conn, :index) %>
  </p>
<% end %>