<%= pagination @conn, @page, &Path.forum_path/4, path_args: ([@conn, :index, @current_forum || "all"]) %>

<div class="cf-thread-list">
  <%= for thread <- @threads do %>
    <%= render CforumWeb.ThreadView, "thread.html", conn: @conn, thread: thread %>
  <% end %>
</div>

<%= pagination @conn, @page, &Path.forum_path/4, path_args: ([@conn, :index, @current_forum || "all"]) %>
